body {
  font-family: "Plus Jakarta Sans", sans-serif !important;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.container {
  /* why */
  flex: 1;
}

/* navbar */
.navbar {
    height: 5rem;
    background-color: white;
    transition: background-color 0.3s ease;
  }
  
  /* when navbar expands (hamburger menu open) */
  .navbar-collapse.show {
    background-color: white;
  }
  
  /* small screens always have white bg */
  @media (max-width: 992px) {
    .navbar {
      background-color: white;
    }
    .navbar .nav-link {
        color: #161515 !important;
      }
  }

.fa-compass {
  color: #fe424d;
  font-size: 2rem;
}

.nav-link {
  color: #161515 !important;
}

/* footer */
.f-info-links a {
  text-decoration: none;
  color: #161515;
}

.f-info-links a:hover {
  text-decoration: underline;
}

.f-info-links,
.f-info-social,
.f-info-brand {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.f-info-social i {
  font-size: 1.2rem;
  margin-right: 2rem;
}

.f-info {
  text-align: center;
  display: flex;
  height: 8rem;
  background-color: #ebebeb;
  flex-wrap: wrap;
  justify-content: center;
  align-items: space-evenly;
}

/* cards */
.listing-card {
  border: none !important;
  margin-bottom: 2rem;
}

.card-img-top {
  border-radius: 1rem !important;
  width: 100% !important;
  object-fit: cover !important;
}

.card-body {
  padding: 0 !important;
}

.card-text p {
  font-weight: 400;
}

.listing-link {
  text-decoration: none;
}

/* card effect */
.card-img-overlay {
  opacity: 0;
}

.card-img-overlay:hover {
  opacity: 0.2;
  background-color: white;
}

/* new page */
.add-btn {
  background-color: #fe424d !important;
  border: none !important;
}

/* edit page */
.edit-btn {
  background-color: #fe424d !important;
  border: none !important;
}

/* show page */
.show-img {
  height: 30vh;
}

.btns {
  display: flex;
}

.show-card {
  padding-left: 0;
  padding-right: 0;
}
